@model Category;
@{
  ViewData["Title"] = "Kategori Düzenle";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="row">
  <div class="col-md2"></div>
  <div class="col-md-8">
    <div class="portlet box purple ">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-gift"></i> Kategori Güncelleme Formu
        </div>
        <div class="tools">
          <a href="" class="collapse">
          </a>
          <a href="#portlet-config" data-toggle="modal" class="config">
          </a>
          <a href="" class="reload">
          </a>
          <a href="" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body form">
        <form class="form-horizontal" role="form" action="/Admin/CategoryEdit" method="post">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="form-body">

            @*form-control input-lg*@

            <div class="form-group">
              <label class="col-md-3 control-label">Ana Kategori Seçiniz</label>
              <div class="col-md-9">
                @Html.DropDownList(
                       "ParentID",
                       (IEnumerable<SelectListItem>?)ViewData["CategoryList"], "Seçiniz",
                       new { @class = "form-control input-lg" }
                       )
              </div>
            </div>

            <div class="form-group">
              <label asp-for="CategoryName" class="col-md-3 control-label">Kategori Adı</label>

              <div class="col-md-9">
                <input asp-for="CategoryName" class="form-control input-lg" placeholder="Kategori Adı" required maxlength="50">
@*                 <input type="text" class="form-control input-lg" name="" placeholder="Kategori Adı" required maxlength="50">
 *@              </div>
              <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>


            <div class="form-group">
              <label asp-for="IsActive" class="col-md-3 control-label">Aktif</label>

              <div class="col-md-9">
                <input asp-for="IsActive" class="form-control input-lg" />
              </div>
            </div>

          </div>
         
          <input type="hidden" asp-for="CategoryID"/>
          <div class="form-actions right">
              <a asp-action="CategoryIndex" class="btn btn-primary">Kategori Listesi</a>
              <input type="submit" value="GÜNCELLE" class="btn btn-success" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- END SAMPLE FORM PORTLET-->