
@{

Layout = "~/views/shared/_DefaultLayout.cshtml";

}

<!-- slider area start -->
<div class="home-1-slider-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-0 col-md-3 col-lg-3 ">
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 ">
				<div class="h1-slider">
					<!-- HOME SLIDER -->
					<div class="slider-wrap">
						<div class="fullwidthbanner-container">
							<div class="home-1">
								<ul>
									<li data-transition="random" data-slotamount="7" data-masterspeed="1000">
										<img src="~/img/slider/h1/hsliderbg1.jpg" alt="slide">
										<div class="tp-caption large_black sfr carousel-caption-inner" data-x="150" data-y="50" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
											 style="color:#fff; font-size:18px; letter-spacing: 1px; text-transform: uppercase;">
											Something
										</div>
										<div class="tp-caption large_black sfr carousel-caption-inner" data-x="65" data-y="71" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
											 style="  font-size: 60px; font-style:italic; font-weight: normal; text-transform: uppercase;color: #fff;font-weight: bold;">
											for him
										</div>
										<div class="tp-caption lfb carousel-caption-inner" data-x="130" data-y="160" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
											 style="">
											<a href="index.html#" class="s-btn" style="background: transparent; color: #fff; border: 1px solid #fff; font-weight:700; font-size: 12px; display: inline-block; padding:10px 18px; text-transform: uppercase;">Shopping Now</a>
										</div>
									</li>
									<li data-transition="random" data-slotamount="7" data-masterspeed="1000">
										<img src="~/img/slider/h1/hsliderbg2.jpg" alt="slide">
										<div class="tp-caption large_black sfr carousel-caption-inner" data-x="30" data-y="20" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
											 style="font-size:22px; color: #fff; ">
											Samsung Galaxy S5
										</div>
										<div class="tp-caption large_black sfr carousel-caption-inner" data-x="30" data-y="50" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
											 style="font-size:42px; font-weight:700;text-transform: uppercase; color: #ffffff; letter-spacing: 5px;">
											Mega Sale
										</div>
										<div class="tp-caption large_black sfr carousel-caption-inner" data-x="30" data-y="90" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
											 style="font-size:42px; font-weight:700;text-transform: uppercase; color: #ffffff; letter-spacing: 5px;">
											25%off
										</div>
										<div class="tp-caption lfb carousel-caption-inner" data-x="30" data-y="160" data-speed="1300" data-start="1700" data-easing="easeInOutBack" style="">
											<a href="index.html#" class="s-btn" style="background: transparent; color: #fff; border: 1px solid #fff; font-weight:700; font-size: 12px; display: inline-block; padding:10px 18px; text-transform: uppercase;">Shopping Now</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- END HOME SLIDER -->
				</div>
				<!-- 1st bannar start -->
				<div class="h-1-banner-wapper">
					<div class="banner-home-inner pull-left">
						<a href="index.html#">
							<img alt="" src="~/img/all-adds/1.jpg">
						</a>
					</div>
					<div class="banner-home-inner pull-right">
						<a href="index.html#">
							<img alt="" src="~/img/all-adds/2.jpg">
						</a>
					</div>
				</div>
				<!-- 1st bannar end -->
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3 ">
				<div class="single-special-products">
					<h3 class="sp-module-title"><span>Special Products</span></h3>
					<div class="all-sp-slides">
						<!-- SP-SINGLE Product -->
						<div class="sp-single">
							<div class="sp-img-area">
								<img class="first-img" src="~/img/all-sp/7.jpg" alt="" />
								<img class="hover-img" src="~/img/all-sp/1.jpg" alt="" />
								<div class="quick-view-detail">
									<a href="index.html#">View Detail</a>
								</div>
								<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
							</div>
							<div class="sp-info-area">
								<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dolor Dignissim Semper</a></h2>
								<div class="product-rating">
									<div class="ratingbox" title="" Rating="1/5">
										<div style="width:63px" class="stars-orange"></div>
									</div>
								</div>
								<p class="all-prices">
									<span class="sp-price main-price">$189.00</span>
								</p>
								<div class="sp-button">
									<div class="s-button">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
									</div>
									<div class="s-button">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
									</div>
									<div class="s-button last-b ">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
									</div>
								</div>
							</div>
						</div>
						<!-- SP-SINGLE Product -->
						<div class="sp-single">
							<div class="sp-img-area">
								<img class="first-img" src="~/img/all-sp/3.jpg" alt="" />
								<img class="hover-img" src="~/img/all-sp/4.jpg" alt="" />
								<div class="quick-view-detail">
									<a href="index.html#">View Detail</a>
								</div>
							</div>
							<div class="sp-info-area">
								<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Et Ultrices Posuere</a></h2>
								<div class="product-rating">
									<div class="ratingbox" title="" Rating="3/5">
										<div style="width:45px" class="stars-orange"></div>
									</div>
								</div>
								<p class="all-prices">
									<span class="sp-price price-lessprice">$250.00</span>
									<span class="sp-price main-price">$189.00</span>
								</p>
								<div class="sp-button">
									<div class="s-button">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
									</div>
									<div class="s-button">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
									</div>
									<div class="s-button last-b ">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
									</div>
								</div>
							</div>
						</div>
						<!-- SP-SINGLE Product -->
						<div class="sp-single">
							<div class="sp-img-area">
								<img class="first-img" src="~/img/all-sp/5.jpg" alt="" />
								<img class="hover-img" src="~/img/all-sp/6.jpg" alt="" />
								<div class="quick-view-detail">
									<a href="index.html#">View Detail</a>
								</div>
								<div class="sp-label-pro sp-label-pro-new">New!</div>
							</div>
							<div class="sp-info-area">
								<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dolor Dignissim Semper</a></h2>
								<div class="product-rating">
									<div class="ratingbox" title="">
										<div style="width:25px" class="stars-orange"></div>
									</div>
								</div>
								<p class="all-prices">
									<span class="sp-price main-price">$389.00</span>
								</p>
								<div class="sp-button">
									<div class="s-button">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
									</div>
									<div class="s-button">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
									</div>
									<div class="s-button last-b ">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
									</div>
								</div>
							</div>
						</div>
						<!-- SP-SINGLE Product -->
						<div class="sp-single">
							<div class="sp-img-area">
								<img class="first-img" src="~/img/all-sp/1.jpg" alt="" />
								<img class="hover-img" src="~/img/all-sp/2.jpg" alt="" />
								<div class="quick-view-detail">
									<a href="index.html#">View Detail</a>
								</div>
								<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
								<div class="sp-label-percentage">
									<span class="sp-PricediscountAmount">-$5.00</span>
								</div>

							</div>
							<div class="sp-info-area">
								<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dolor Dignissim Semper</a></h2>
								<div class="product-rating">
									<div class="ratingbox" title="" Rating="3/5">
										<div style="width:45px" class="stars-orange"></div>
									</div>
								</div>
								<p class="all-prices">
									<span class="sp-price price-lessprice">$250.00</span>
									<span class="sp-price main-price">$189.00</span>
								</p>
								<div class="sp-button">
									<div class="s-button">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
									</div>
									<div class="s-button">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
									</div>
									<div class="s-button last-b ">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
									</div>
								</div>
							</div>
						</div>
						<!-- SP-SINGLE Product -->
						<div class="sp-single">
							<div class="sp-img-area">
								<img class="first-img" src="~/img/all-sp/6.jpg" alt="" />
								<img class="hover-img" src="~/img/all-sp/7.jpg" alt="" />
								<div class="quick-view-detail">
									<a href="index.html#">View Detail</a>
								</div>
								<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
								<div class="sp-label-percentage">
									<span class="sp-PricediscountAmount">-$9.00</span>
								</div>

							</div>
							<div class="sp-info-area">
								<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Semper Dolor Dignissim </a></h2>
								<div class="product-rating">
									<div class="ratingbox" title="" Rating="3/5">
										<div style="width:45px" class="stars-orange"></div>
									</div>
								</div>
								<p class="all-prices">
									<span class="sp-price price-lessprice">$350.00</span>
									<span class="sp-price main-price">$289.00</span>
								</p>
								<div class="sp-button">
									<div class="s-button">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
									</div>
									<div class="s-button">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
									</div>
									<div class="s-button last-b ">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- slider area end -->
<!-- header area end -->
<!-- new product area start -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title">
						<h3>New Products</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">
								<!-- SP-SINGLE Product -->
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="sp-single">
										<div class="sp-img-area">
											<img class="first-img" src="~/img/all-sp/new-p/1.jpg" alt="" />
											<img class="hover-img" src="~/img/all-sp/new-p/2.jpg" alt="" />
											<div class="quick-view-detail">
												<a href="index.html#">View Detail</a>
											</div>
											<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
										</div>
										<div class="sp-info-area">
											<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dignissim Dolor </a></h2>
											<div class="product-rating">
												<div class="ratingbox" title="" Rating="3/5">
													<div style="width:50px" class="stars-orange"></div>
												</div>
											</div>
											<p class="all-prices">
												<span class="sp-price main-price">$189.00</span>
											</p>
											<div class="sp-button">
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
												</div>
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
												</div>
												<div class="s-button last-b ">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- SP-SINGLE Product -->
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="sp-single">
										<div class="sp-img-area">
											<img class="first-img" src="~/img/all-sp/new-p/3.jpg" alt="" />
											<img class="hover-img" src="~/img/all-sp/new-p/4.jpg" alt="" />
											<div class="quick-view-detail">
												<a href="index.html#">View Detail</a>
											</div>
										</div>
										<div class="sp-info-area">
											<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Et Ultrices Posuere</a></h2>
											<div class="product-rating">
												<div class="ratingbox" title="" Rating="3/5">
													<div style="width:45px" class="stars-orange"></div>
												</div>
											</div>
											<p class="all-prices">
												<span class="sp-price price-lessprice">$250.00</span>
												<span class="sp-price main-price">$189.00</span>
											</p>
											<div class="sp-button">
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
												</div>
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
												</div>
												<div class="s-button last-b ">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- SP-SINGLE Product -->
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="sp-single">
										<div class="sp-img-area">
											<img class="first-img" src="~/img/all-sp/new-p/5.jpg" alt="" />
											<img class="hover-img" src="~/img/all-sp/new-p/6.jpg" alt="" />
											<div class="quick-view-detail">
												<a href="index.html#">View Detail</a>
											</div>
											<div class="sp-label-pro sp-label-pro-new">New!</div>
										</div>
										<div class="sp-info-area">
											<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Nirob Dignissim Semper</a></h2>
											<div class="product-rating">
												<div class="ratingbox" title="">
													<div style="width:25px" class="stars-orange"></div>
												</div>
											</div>
											<p class="all-prices">
												<span class="sp-price main-price">$389.00</span>
											</p>
											<div class="sp-button">
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
												</div>
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
												</div>
												<div class="s-button last-b ">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- SP-SINGLE Product -->
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="sp-single">
										<div class="sp-img-area">
											<img class="first-img" src="~/img/all-sp/new-p/7.jpg" alt="" />
											<img class="hover-img" src="~/img/all-sp/new-p/8.jpg" alt="" />
											<div class="quick-view-detail">
												<a href="index.html#">View Detail</a>
											</div>
											<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
											<div class="sp-label-percentage">
												<span class="sp-PricediscountAmount">-$5.00</span>
											</div>

										</div>
										<div class="sp-info-area">
											<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dolor Dignissim Semper</a></h2>
											<div class="product-rating">
												<div class="ratingbox" title="" Rating="3/5">
													<div style="width:45px" class="stars-orange"></div>
												</div>
											</div>
											<p class="all-prices">
												<span class="sp-price price-lessprice">$250.00</span>
												<span class="sp-price main-price">$189.00</span>
											</p>
											<div class="sp-button">
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
												</div>
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
												</div>
												<div class="s-button last-b ">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- SP-SINGLE Product -->
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="sp-single">
										<div class="sp-img-area">
											<img class="first-img" src="~/img/all-sp/new-p/9.jpg" alt="" />
											<img class="hover-img" src="~/img/all-sp/new-p/10.jpg" alt="" />
											<div class="quick-view-detail">
												<a href="index.html#">View Detail</a>
											</div>
											<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
											<div class="sp-label-percentage">
												<span class="sp-PricediscountAmount">-$9.00</span>
											</div>

										</div>
										<div class="sp-info-area">
											<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Hasib Dolor Dignissim </a></h2>
											<div class="product-rating">
												<div class="ratingbox" title="" Rating="3/5">
													<div style="width:45px" class="stars-orange"></div>
												</div>
											</div>
											<p class="all-prices">
												<span class="sp-price price-lessprice">$350.00</span>
												<span class="sp-price main-price">$289.00</span>
											</p>
											<div class="sp-button">
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
												</div>
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
												</div>
												<div class="s-button last-b ">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- SP-SINGLE Product -->
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="sp-single">
										<div class="sp-img-area">
											<img class="first-img" src="~/img/all-sp/new-p/11.jpg" alt="" />
											<img class="hover-img" src="~/img/all-sp/new-p/12.jpg" alt="" />
											<div class="quick-view-detail">
												<a href="index.html#">View Detail</a>
											</div>
											<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
										</div>
										<div class="sp-info-area">
											<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dignissim Dolor </a></h2>
											<div class="product-rating">
												<div class="ratingbox" title="" Rating="3/5">
													<div style="width:50px" class="stars-orange"></div>
												</div>
											</div>
											<p class="all-prices">
												<span class="sp-price main-price">$189.00</span>
											</p>
											<div class="sp-button">
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
												</div>
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
												</div>
												<div class="s-button last-b ">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- SP-SINGLE Product -->
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="sp-single">
										<div class="sp-img-area">
											<img class="first-img" src="~/img/all-sp/new-p/13.jpg" alt="" />
											<img class="hover-img" src="~/img/all-sp/new-p/14.jpg" alt="" />
											<div class="quick-view-detail">
												<a href="index.html#">View Detail</a>
											</div>
										</div>
										<div class="sp-info-area">
											<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Et Ultrices Posuere</a></h2>
											<div class="product-rating">
												<div class="ratingbox" title="" Rating="3/5">
													<div style="width:45px" class="stars-orange"></div>
												</div>
											</div>
											<p class="all-prices">
												<span class="sp-price price-lessprice">$250.00</span>
												<span class="sp-price main-price">$189.00</span>
											</p>
											<div class="sp-button">
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
												</div>
												<div class="s-button">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
												</div>
												<div class="s-button last-b ">
													<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="new-bottom-area">
								<!-- bannar-1 -->
								<div class="banner-home-inner">
									<a href="index.html#">
										<img src="~/img/all-bannars/1.jpg" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- new product area start -->
<!-- mobile product area start -->
<div class="mobile-products-area">
	<div class="container">
		<div class="row">
			<div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
				<h3 class="sp-module-title">
					<span>MobileXXX &amp; Tablet</span>
				</h3>
			</div>
			<div class="col-xs-12  col-sm-4 col-md-3 col-lg-3">
				<div class="left-adds">
					<p class="banner-block"><a href="index.html#"><img alt="" src="~/img/all-adds/3.jpg"></a></p>
				</div>
			</div>
			<div class="col-xs-12  col-sm-8 col-md-9 col-lg-9">
				<div class="row">
					<div class="all-new-p">
						<div class="mobile-p-slides singal-p">
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/18.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/16.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-new">New!</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Nirob Dignissim </a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="">
												<div style="width:25px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price main-price">$389.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/17.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/20.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Et Ultrices Posuere</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$250.00</span>
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/15.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/16.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-new">New!</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dignissim Dolor </a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:50px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/19.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/20.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
										<div class="sp-label-percentage">
											<span class="sp-PricediscountAmount">-$5.00</span>
										</div>

									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#"> Dignissim Semper</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="Rating: 3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/17.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/15.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-new">New!</div>
										<div class="sp-label-percentage">
											<span class="sp-PricediscountAmount">-$9.00</span>
										</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Hasib Dolor Dignissim </a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$350.00</span>
											<span class="sp-price main-price">$289.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/16.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/17.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dignissim Dolor </a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:50px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/18.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/15.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Et Ultrices Posuere</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$250.00</span>
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- mobile product area end -->
<!-- Fashion & Accessories area start -->
<div class="mobile-products-area fashion-p">
	<div class="container">
		<div class="row">
			<div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
				<h3 class="sp-module-title">
					<span>Fashion &amp; Accessories</span>
				</h3>
			</div>
			<div class="col-xs-12  col-sm-4 col-md-3 col-lg-3">
				<div class="left-adds">
					<p class="banner-block"><a href="index.html#"><img alt="" src="~/img/all-adds/4.jpg"></a></p>
				</div>
			</div>
			<div class="col-xs-12  col-sm-8 col-md-9 col-lg-9">
				<div class="row">
					<div class="all-new-p">
						<div class="mobile-p-slides singal-p">
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/14.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/22.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dignissim Dolor </a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:50px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/13.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/21.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Et Ultrices Posuere</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$250.00</span>
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/23.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/13.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-new">New!</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Nirob Dignissim Semper</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="">
												<div style="width:25px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price main-price">$289.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/16.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/14.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-new">New!</div>
										<div class="sp-label-percentage">
											<span class="sp-PricediscountAmount">-$5.00</span>
										</div>

									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#"> Dignissim Semper</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$250.00</span>
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/24.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/21.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-new">New!</div>
										<div class="sp-label-percentage">
											<span class="sp-PricediscountAmount">-$9.00</span>
										</div>

									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Hasib Dolor Dignissim </a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$350.00</span>
											<span class="sp-price main-price">$289.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/11.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/12.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dignissim Dolor </a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:50px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/13.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/14.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Et Ultrices Posuere</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$250.00</span>
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Furniture area start -->
<div class="mobile-products-area furniture-p">
	<div class="container">
		<div class="row">
			<div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
				<h3 class="sp-module-title">
					<span>Furniture</span>
				</h3>
			</div>
			<div class="col-xs-12  col-sm-4 col-md-3 col-lg-3">
				<div class="left-adds">
					<p class="banner-block"><a href="index.html#"><img alt="" src="~/img/all-adds/bg-furniture_1.png"></a></p>
				</div>
			</div>
			<div class="col-xs-12  col-sm-8 col-md-9 col-lg-9">
				<div class="row">
					<div class="all-new-p">
						<div class="mobile-p-slides singal-p">
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/1.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/2.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dignissim Dolor </a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:50px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/3.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/4.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Et Ultrices Posuere</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$250.00</span>
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/5.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/6.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-new">New!</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Nirob Dignissim Semper</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="">
												<div style="width:25px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price main-price">$389.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/7.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/8.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
										<div class="sp-label-percentage">
											<span class="sp-PricediscountAmount">-$5.00</span>
										</div>

									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dolor Dignissim Semper</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$250.00</span>
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/9.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/10.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
										<div class="sp-label-percentage">
											<span class="sp-PricediscountAmount">-$9.00</span>
										</div>

									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Hasib Dolor Dignissim </a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$350.00</span>
											<span class="sp-price main-price">$289.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/11.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/12.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dignissim Dolor </a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:50px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/13.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/14.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Et Ultrices Posuere</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$250.00</span>
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Health & Beauty area start -->
<div class="mobile-products-area beauty-p">
	<div class="container">
		<div class="row">
			<div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
				<h3 class="sp-module-title">
					<span>Health &amp; Beauty</span>
				</h3>
			</div>
			<div class="col-xs-12  col-sm-4 col-md-3 col-lg-3">
				<div class="left-adds">
					<p class="banner-block"><a href="index.html#"><img alt="" src="~/img/all-adds/5.jpg"></a></p>
				</div>
			</div>
			<div class="col-xs-12  col-sm-8 col-md-9 col-lg-9">
				<div class="row">
					<div class="all-new-p">
						<div class="mobile-p-slides singal-p">
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/26.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/25.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dignissim Dolor </a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:50px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/3.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/4.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Et Ultrices Posuere</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$250.00</span>
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/17.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/6.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-new">New!</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Nirob Dignissim Semper</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="">
												<div style="width:25px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price main-price">$389.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/18.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/4.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
										<div class="sp-label-percentage">
											<span class="sp-PricediscountAmount">-$5.00</span>
										</div>

									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dolor Dignissim Semper</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$250.00</span>
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/22.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/21.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-new">New!</div>
										<div class="sp-label-percentage">
											<span class="sp-PricediscountAmount">-$9.00</span>
										</div>

									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Hasib Dolor nirob </a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$350.00</span>
											<span class="sp-price main-price">$289.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/11.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/12.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
										<div class="sp-label-pro sp-label-pro-hot">Hot!</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Dignissim Dolor </a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:50px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- SP-SINGLE Product -->
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="sp-single">
									<div class="sp-img-area">
										<img class="first-img" src="~/img/all-sp/new-p/10.jpg" alt="" />
										<img class="hover-img" src="~/img/all-sp/new-p/9.jpg" alt="" />
										<div class="quick-view-detail">
											<a href="index.html#">View Detail</a>
										</div>
									</div>
									<div class="sp-info-area">
										<h2 class="product-name"><a title="Dolor Dignissim Semper" href="index.html#">Et Ultrices Posuere</a></h2>
										<div class="product-rating">
											<div class="ratingbox" title="" Rating="3/5">
												<div style="width:45px" class="stars-orange"></div>
											</div>
										</div>
										<p class="all-prices">
											<span class="sp-price price-lessprice">$250.00</span>
											<span class="sp-price main-price">$189.00</span>
										</p>
										<div class="sp-button">
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
											</div>
											<div class="s-button">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
											</div>
											<div class="s-button last-b ">
												<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="new-bottom-area helth-bottom">
					<!-- bannar-1 -->
					<div class="banner-home-inner">
						<a href="index.html#">
							<img alt="" src="~/img/all-bannars/2.jpg">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
