@{
  Layout = "~/views/shared/_DefaultLayout.cshtml";
}

<!-- Single product area start  -->
<div class="shop-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="rp-area">
              <div class="singl-shop ">
                <div class="row">
                  <!-- SP-SINGLE Product -->
                  <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="sp-single">
                      <div class="sp-img-area">
                        <img alt="" src="~/img/all-sp/new-p/19.jpg" class="first-img">
                        <img alt="" src="~/img/all-sp/new-p/20.jpg" class="hover-img">
                        <div class="quick-view-detail">
                          <a href="single-product.html#">View Detail</a>
                        </div>
                        <div class="sp-label-pro sp-label-pro-hot">Hot!</div>
                      </div>
                      <div class="sp-info-area">
                        <h2 class="product-name"><a href="single-product.html#" title="Dolor Dignissim Semper">Dignissim Dolor </a></h2>
                        <div class="product-rating">
                          <div title=" Rating: 3/5" class="ratingbox">
                            <div class="stars-orange" style="width:50px"></div>
                          </div>
                        </div>
                        <p class="all-prices">
                          <span class="sp-price main-price">$189.00</span>
                        </p>
                        <div class="sp-button">
                          <div class="s-button">
                            <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="single-product.html#" data-original-title="add to cart"> <i class="fa fa-shopping-cart"></i> </a>
                          </div>
                          <div class="s-button">
                            <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="single-product.html#" data-original-title="add favorite"> <i class="fa fa-heart-o"></i> </a>
                          </div>
                          <div class="s-button last-b ">
                            <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="single-product.html#" data-original-title="view detail"> <i class="fa fa-eye"></i> </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- SP-SINGLE Product -->
                  <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="sp-single">
                      <div class="sp-img-area">
                        <img alt="" src="~/img/all-sp/new-p/24.jpg" class="first-img">
                        <img alt="" src="~/img/all-sp/new-p/25.jpg" class="hover-img">
                        <div class="quick-view-detail">
                          <a href="single-product.html#">View Detail</a>
                        </div>
                        <div class="sp-label-pro sp-label-pro-new">New!</div>
                      </div>
                      <div class="sp-info-area">
                        <h2 class="product-name"><a href="single-product.html#" title="Dolor Dignissim Semper">Dignissim Dolor </a></h2>
                        <div class="product-rating">
                          <div title=" Rating: 3/5" class="ratingbox">
                            <div class="stars-orange" style="width:50px"></div>
                          </div>
                        </div>
                        <p class="all-prices">
                          <span class="sp-price main-price">$189.00</span>
                        </p>
                        <div class="sp-button">
                          <div class="s-button">
                            <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="single-product.html#" data-original-title="add to cart"> <i class="fa fa-shopping-cart"></i> </a>
                          </div>
                          <div class="s-button">
                            <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="single-product.html#" data-original-title="add favorite"> <i class="fa fa-heart-o"></i> </a>
                          </div>
                          <div class="s-button last-b ">
                            <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="single-product.html#" data-original-title="view detail"> <i class="fa fa-eye"></i> </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- SP-SINGLE Product -->
                  <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="sp-single">
                      <div class="sp-img-area">
                        <img alt="" src="~/img/all-sp/new-p/18.jpg" class="first-img">
                        <img alt="" src="~/img/all-sp/new-p/12.jpg" class="hover-img">
                        <div class="quick-view-detail">
                          <a href="single-product.html#">View Detail</a>
                        </div>
                      </div>
                      <div class="sp-info-area">
                        <h2 class="product-name"><a href="single-product.html#" title="Dolor Dignissim Semper">Dignissim Dolor </a></h2>
                        <div class="product-rating">
                          <div title=" Rating: 3/5" class="ratingbox">
                            <div class="stars-orange" style="width:70px"></div>
                          </div>
                        </div>
                        <p class="all-prices">
                          <span class="sp-price main-price">$189.00</span>
                        </p>
                        <div class="sp-button">
                          <div class="s-button">
                            <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="single-product.html#" data-original-title="add to cart"> <i class="fa fa-shopping-cart"></i> </a>
                          </div>
                          <div class="s-button">
                            <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="single-product.html#" data-original-title="add favorite"> <i class="fa fa-heart-o"></i> </a>
                          </div>
                          <div class="s-button last-b ">
                            <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="single-product.html#" data-original-title="view detail"> <i class="fa fa-eye"></i> </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- SP-SINGLE Product -->
                  <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="sp-single">
                      <div class="sp-img-area">
                        <img alt="" src="~/img/all-sp/new-p/16.jpg" class="first-img">
                        <img alt="" src="~/img/all-sp/new-p/22.jpg" class="hover-img">
                        <div class="quick-view-detail">
                          <a href="single-product.html#">View Detail</a>
                        </div>
                      </div>
                      <div class="sp-info-area">
                        <h2 class="product-name"><a href="single-product.html#" title="Dolor Dignissim Semper">Dignissim Dolor </a></h2>
                        <div class="product-rating">
                          <div title=" Rating: 3/5" class="ratingbox">
                            <div class="stars-orange" style="width:30px"></div>
                          </div>
                        </div>
                        <p class="all-prices">
                          <span class="sp-price main-price">$189.00</span>
                        </p>
                        <div class="sp-button">
                          <div class="s-button">
                            <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="single-product.html#" data-original-title="add to cart"> <i class="fa fa-shopping-cart"></i> </a>
                          </div>
                          <div class="s-button">
                            <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="single-product.html#" data-original-title="add favorite"> <i class="fa fa-heart-o"></i> </a>
                          </div>
                          <div class="s-button last-b ">
                            <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="single-product.html#" data-original-title="view detail"> <i class="fa fa-eye"></i> </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Single product area End  -->